{
    "globals": {
        "jQuery": true,
        "document": true
    },
    "rules": {
    	"no-unused-vars": false,
    	"no-undef": false,
    	"no-shadow": false,
    	"no-underscore-dangle": false,
    	"no-new-object": false,
    	"no-use-before-define": false,
    	"no-alert": false,
    	"camelcase": false,
    	"no-array-constructor": false,
    	"no-loop-func": false,
    	"no-redeclare": false
    }
}