{
    "globals": {
        "jQuery": true,
        "document": true,
        "alert": true,
        "console": true,
        "confirm": true,
        "setTimeout": true,
        "KeyTable": true,
        "rowData": true
    },
    "rules": {
    	"no-unused-vars": false,
    	"no-undef": false,
    	"no-shadow": false,
    	"no-underscore-dangle": false,
    	"no-new-object": false,
    	"no-alert": false,
    	"camelcase": false,
    	"no-array-constructor": false,
    	"no-loop-func": false
    }
}