/node_modules/*
/bower_components/*
.settings/*
/jquery.dataTables.editable.min.js
/jquery.dataTables.editable.min.js.map
/jquery.dataTables.editable.bootstrap.min.js
/jquery.dataTables.editable.bootstrap.min.js.map
